<script>
    import DesktopNav from './../components/DesktopNav.svelte';
    import DesktopLeftSidebar from './../components/DesktopLeftSidebar.svelte';
    // Left Sidebar
    import DesktopCoverPhoto from './../components/DesktopCoverPhoto.svelte';
    import DesktopCTA from './../components/DesktopCTA.svelte';
    import SectionWriteSomething from './../components/SectionWriteSomething.svelte';
    import SectionNewsFeed from './../components/SectionNewsFeed.svelte';
    import SectionRatings from './../components/SectionRatings.svelte';
    // Right Sidebar
    import DesktopSearchSidebar from './../components/DesktopSearchSidebar.svelte';
    import DesktopFollowersSidebar from './../components/DesktopFollowersSidebar.svelte';
    import DesktopMapSidebar from './../components/DesktopMapSidebar.svelte';
    import DesktopReviewSidebar from './../components/DesktopReviewSidebar.svelte';
    import DesktopGallerySidebar from './../components/DesktopGallerySidebar.svelte';

    const settings = {
    	viewport: 'desktop',
    	coverPhoto: './images/cover-photo.jpg',
    	profilePicture: './images/profile-picture.png',
    	profileName: 'Every Interaction',
    	profileURL: '@Every Interaction',
    	userName: 'Aaron Real',
    	userFirstName: 'Aaron',
    	userPhoto: './images/user.jpg',
    	map: './images/static_map.png',
    	serviceLocation: 'Business Service &middot; London, United Kingdom',
    };
</script>

<!-- navigation desktop -->
<DesktopNav {...settings}/>

<!-- content area desktop -->
<div class="hidden lg:flex container mx-auto min-h-full" id="container-area">

	<!-- section left sidebar desktop -->
    <DesktopLeftSidebar {...settings}/>

	<!-- main content desktop -->
	<main class="w-4/5 bg-black h-40 bg-black main-desktop">

		<!-- section cover photo desktop -->
		<DesktopCoverPhoto coverPhoto={settings.coverPhoto}/>

		<!-- section call to action desktop -->
        <DesktopCTA />


		<!-- section news feed area desktop -->
		<section class="flex flex-row">
			<div class="w-3/5 news-feed-area">

				<!-- write something desktop -->
				<SectionWriteSomething {...settings}/>

				<!-- section news feed -->
				<SectionNewsFeed {...settings}/>

			</div> <!-- end of news-feed-area -->

			<!-- right sidebar area desktop -->
			<div class="w-2/5 h-40 pl-4 right-sidebar">

				<!-- rating section -->
			    <SectionRatings serviceLocation={settings.serviceLocation}/>

			    <!-- search section desktop -->
			    <DesktopSearchSidebar />

			    <!-- section followers desktop -->
			    <DesktopFollowersSidebar userName={settings.userName} userPhoto={settings.userPhoto}/>

				<!-- section map desktop -->
				<DesktopMapSidebar />

				<!-- section share opinion desktop -->
				<DesktopReviewSidebar userPhoto={settings.userPhoto} profileName={settings.profileName}/>

				<!-- section gallery desktop -->
				<DesktopGallerySidebar/>

			</div> <!-- end right sidebar area desktop -->
		</section> <!-- end section news feed area desktop -->

	</main>
</div>