<section class="search-sidebar bg-white h-8 mb-3">
	<div class="comment-field-container w-full flex flex-row">
		<a href="#" class="bg-white p-3 block flex items-center h-8">
			<i class="material-icons text-gray-300 hover:text-gray-500">search</i>
		</a>
		<input type="text" class="comment-field w-full h-8 text-sm placeholder-fb-gray focus:outline-none focus:placeholder-gray-300" placeholder="Search for posts on this Page">
	</div>
</section>