<script>
    import Gallery from './../components/Gallery.svelte';
</script>

<section class="gallery-desktop rounded bg-white mb-3">
	<div class="bg-gray-100 p-3 h-10 flex items-center">
		<p class="text-xs uppercase font-semibold">Photos</p>
	</div>
    <div class="gallery-images flex lg:flex-wrap flex-row lg:justify-around lg:p-1 w-full">
        <Gallery />
    </div>
</section>