<section class="left-sidebar w-1/5 min-h-full p-3 flex justify-center">
	<div class="profile-details">
		<a class="profile-picture p-1 bg-white flex flex-col mb-4" href="#">
			<img class="border rounded border-gray-300 block" src="{$$props.profilePicture}" alt="">
		</a>
		<div class="profile-name mb-5">
			<h1 class="text-3xl tracking-tighter leading-none mb-2">
				<a class="hover:underline" href="#">{$$props.profileName}</a>
				<i class="fas fa-check-circle verified-profile text-lg"></i>
			</h1>
			<a class="text-base tracking-tight text-fb-lightgray font-semibold hover:underline" href="#">{$$props.profileURL}</a>
		</div>
		<div class="profile-links">
			<ul>
				<li class="mb-1"><a class="p-2 link-item flex items-center h-8 w-full text-sm active" href="#">Home</a></li>
				<li class="mb-1"><a class="p-2 link-item flex items-center h-8 w-full text-sm" href="#">About</a></li>
				<li class="mb-1"><a class="p-2 link-item flex items-center h-8 w-full text-sm" href="#">Notes</a></li>
				<li class="mb-1"><a class="p-2 link-item flex items-center h-8 w-full text-sm" href="#">Email Signup</a></li>
				<li class="mb-1"><a class="p-2 link-item flex items-center h-8 w-full text-sm" href="#">Photos</a></li>
				<li class="mb-1"><a class="p-2 link-item flex items-center h-8 w-full text-sm" href="#">Reviews</a></li>
				<li class="mb-1"><a class="p-2 link-item flex items-center h-8 w-full text-sm" href="#">Videos</a></li>
				<li class="mb-1"><a class="p-2 link-item flex items-center h-8 w-full text-sm" href="#">Likes</a></li>
				<li class="mb-1"><a class="p-2 link-item flex items-center h-8 w-full text-sm" href="#">Posts</a></li>
			</ul>
			<button class="mt-4 ml-2 py-2 px-3 bg-fb-green rounded h-6 flex items-center text-white align-middle text-sm leading-none hover:bg-green-700">
				Create a Page
			</button>
		</div>
	</div>
</section>