<nav class="hidden lg:flex bg-fb-darkblue flex px-12 w-full nav-desktop">
    <div class="container mx-auto flex">
        <div class="w-1/2 flex pr-10">
            <a href="#" class="logo flex mr-2 items-center">
            <i class="fab fa-facebook-square text-white facebook-logo-icon"></i>
            </a>
            <div class="search-container-desktop flex items-center w-full relative">
                <input class="h-6 w-full rounded rounded-r-none tracking-tight focus:outline-none focus:shadow-outline py-1 px-2 text-black placeholder-black focus:placeholder-gray-300 text-sm" id="search-desktop" type="text" placeholder="Every Interaction">
                <a href="#" class="bg-gray-100 block flex items-center px-4 h-6 rounded-r hover:bg-gray-200">
                <i class="material-icons text-gray-700 search-icon-desktop">search</i>
                </a>
            </div>
        </div>
        <div class="w-1/2 flex justify-end py-2">
            <a href="#" class="profile-navigation flex flex-row items-center justify-start pr-3 py-3 border-r border-lightest hover:bg-fb-darkestblue align-middle">
                <div class="profile-picture-container mr-2">
                    <img src="{$$props.userPhoto}" alt="" class="h-auto align-middle profile-picture">
                </div>
                <div class="profile-name">
                    <div class="flex rating-box flex-col">
                        <p class="text-sm align-middle text-white leading-none">{$$props.userFirstName}</p>
                    </div>
                </div>
            </a>
            <a href="#" class="home-navigation flex flex-row items-center justify-start pl-3 pr-3 py-3 mr-4 hover:bg-fb-darkestblue align-middle">
                <div class="flex flex-col">
                    <p class="text-sm align-middle text-white leading-none">Home</p>
                </div>
            </a>
            <a href="#" class="friends-navigation flex flex-row items-center justify-start p-2">
            <i class="material-icons text-fb-darkerblue hover:text-black">people_alt</i>
            </a>
            <a href="#" class="friends-navigation flex flex-row items-center justify-start p-2">
            <i class="material-icons text-fb-darkerblue hover:text-black">question_answer</i>
            </a>
            <a href="#" class="friends-navigation flex flex-row items-center justify-start p-2 pr-4">
            <i class="material-icons text-fb-darkerblue hover:text-black">public</i>
            </a>
            <a href="#" class="friends-navigation flex flex-row items-center justify-start border-l border-lightest pl-4 p-2 pr-0">
            <i class="material-icons text-fb-darkerblue hover:text-black text-base">no_encryption</i>
            </a>
            <a href="#" class="friends-navigation flex flex-row items-center justify-start p-2 pl-0">
            <i class="material-icons text-fb-darkerblue hover:text-black text-3xl">arrow_drop_down</i>
            </a>
        </div>
    </div>
</nav>