<script>
    export let userPhoto;
</script>

<section class="lg:hidden review-users mb-3 px-4 pt-4 bg-white">
    <p class="block">Reviews — 4.7 of 5</p>
    <div class="profile-followers w-full flex flex-row items-center justify-start pt-4 pr-5">
        <div class="profile-followers-picture-container mr-3">
            <img src="{userPhoto}" alt="" class="h-auto align-middle" />
        </div>
        <div class="profile-name">
            <div class="flex items-center rating-box">
                <p class="text-base align-middle text-fb-lightblue -mb-1">5</p>
                <div class="align-middle rating-stars">
                    <input name="select" id="star1" type="radio" class="hidden star"  value="1" />
                    <label class="active inline-block" for="star1"></label>
                </div>
            </div>
            <span class="tracking-tight text-sm text-fb-gray">1 year ago</span>
        </div>
    </div>
    <div class="see-all flex items-center justify-center py-4">
        <a href="#" class="text-fb-gray hover:underline relative">See all <i class="material-icons absolute ">keyboard_arrow_right</i></a>
    </div>
</section>