<section class="lg:hidden visitor-posts mb-3 px-4 pt-4 bg-white">
    <p class="border-b border-gray-300 block pb-3">Visitor posts</p>
    <div class="flex items-center justify-center flex-row">
        <a href="#" class="h-24 flex items-center justify-center block w-1/2 text-fb-gray hover:underline border-r border-gray-300">Write Post</a>
        <a href="#" class="h-24 flex items-center justify-center block w-1/2 text-fb-gray hover:underline">Share Photo</a>
    </div>
</section>