<script>
    let liked = true;
    let following = true;
</script>

<div class="cta-container border-b border-gray-300 px-4">
    <button class="bg-fb-blue hover:bg-fb-blue w-full text-center text-white rounded py-2 font-medium">Contact Us</button>
    <div class="call-to-actions-mobile sm:px-6 pt-5 pb-3 flex flex-row justify-between">
        <button class="cta-button like-button block flex items-center justify-center flex-col focus:outline-none"
                class:active="{liked}"
                on:click="{() => liked = !liked}">
            <i class="material-icons text-fb-gray text-2xl thumbs_up_icon">thumb_up</i>
            <span class="text-fb-gray">{liked ? 'Liked' : 'Like'}</span>
        </button>
        <button class="cta-button follow-button block flex items-center justify-center flex-col focus:outline-none"
                class:active="{following}"
                on:click="{() => following = !following}">
            <i class="material-icons text-fb-gray text-2xl follow_icon">library_add_check</i>
            <span class="text-fb-gray">{following ? 'Following' : 'Follow'}</span>
        </button>
        <button class="cta-button block flex items-center justify-center flex-col focus:outline-none">
            <i class="material-icons text-fb-gray text-2xl">question_answer</i>
            <span class="text-fb-gray">Message</span>
        </button>
        <button class="cta-button block flex items-center justify-center flex-col focus:outline-none">
            <i class="material-icons text-fb-gray text-2xl">more_horiz</i>
            <span class="text-fb-gray">More</span>
        </button>
    </div>
</div>