<div class="mobile-tabs flex w-full overflow-x-auto bg-white">
    <ul class="flex justify-around flex-row">
        <li class="mr-1 active">
            <a class="text-base py-3 px-3 text-fb-blue block" href="#">Home</a>
        </li>
        <li class="mr-1">
            <a class="text-base py-3 px-3 text-fb-gray hover:text-fb-blue block" href="#">Reviews</a>
        </li>
        <li class="mr-1">
            <a class="text-base py-3 px-3 text-fb-gray hover:text-fb-blue block" href="#">About</a>
        </li>
        <li class="mr-1">
            <a class="text-base py-3 px-3 text-fb-gray hover:text-fb-blue block" href="#">Posts</a>
        </li>
        <li class="mr-1">
            <a class="text-base py-3 px-3 text-fb-gray hover:text-fb-blue block" href="#">Photos</a>
        </li>
        <li class="mr-1">
            <a class="text-base py-3 px-3 text-fb-gray hover:text-fb-blue block" href="#">Videos</a>
        </li>
        <li class="mr-1">
            <a class="text-base py-3 px-3 text-fb-gray hover:text-fb-blue block" href="#">Likes</a>
        </li>
        <li class="mr-1">
            <a class="text-base py-3 px-3 text-fb-gray hover:text-fb-blue block" href="#">Notes</a>
        </li>
    </ul>
</div>