<script>
	export let userName;
</script>

<section class="lg:hidden bg-white">
    <div class="profile-followers border-b border-gray-300 w-full flex flex-row items-center justify-start pt-4 pb-5 px-5">
        <div class="profile-followers-picture-container mr-3">
            <img src="images/profile-picture.png" alt="" class="h-auto align-middle" />
        </div>
        <div class="profile-name">
            <p class="tracking-tight text-base">{userName} and 3 other friends like this</p>
            <span class="tracking-tight text-sm">309 likes</span>
        </div>
    </div>
</section>