<script>
	export let profileName;
</script>

<nav class="lg:hidden flex items-center justify-center bg-fb-darkblue flex-wrap px-12 relative nav-mobile">
    <a class="absolute back-arrow flex items-center" href="#">
    <i class="material-icons text-white text-4xl">chevron_left</i>
    </a>
    <a href="#" class="hidden logo lg:flex">
    <i class="fab fa-facebook-square text-white text-4xl"></i>
    </a>
    <div class="search-container flex items-center w-full justify-center relative">
        <input class="w-11/12 rounded tracking-tight focus:outline-none focus:shadow-outline py-1 px-2 text-center text-white placeholder-white bg-fb-darkestblue focus:bg-white focus:text-black text-sm" id="search" type="text" placeholder="{profileName}">
    </div>
</nav>