<script>
    let feed = [
        {   id: '0', 
            src: './images/news-feed-1.jpg', 
            caption: "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum fugit hic nihil dicta", 
            descTitle: "Lorem ipsum dolor sit amet, consectetur adipisicing elit", 
            descShort: "Lorem ipsum", 
            descLong: "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime ducimus debitis hic voluptas atque cupiditate modi perferendis dolorum", 
            descURL: "example.com" ,
        },
        { 
            id: "1", 
            src: "./images/news-feed-2.jpg", 
            caption: "Lorem ipsum dolor sit amet, consectetur adipisicing elit", 
            descTitle: "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis sit consequatur explicabo", 
            descShort: "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis necessitatibus nulla distinctio sapiente", 
            descLong: "Lorem ipsum dolor sit amet", 
            descURL: "example.com",
        },
    ];

    import NewsFeedCTA from './NewsFeedCTA.svelte';
    import DesktopCommentArea from './DesktopCommentArea.svelte';

</script>

{#each feed as { id, src, caption, descTitle, descShort, descLong, descURL }}
    <section class="my-3 news-feed pl-4 pr-3 pt-4 lg:mb-0 lg:p-3 bg-white lg:rounded lg:rounded-br-none" >
        <div class="profile-news-feed w-full flex flex-row items-center justify-start pr-5 mb-4">
            <div class="profile-picture-container border mr-3">
                <a href="#" class="block">
                    <img src="{$$props.profilePicture}" alt="" class="h-auto align-middle" />
                </a>
            </div>
            <div class="profile-name">
                <div class="flex rating-box flex-col">
                    <p class="text-base align-middle font-semibold"><a class="hover:underline"href="#">{$$props.profileName}</a></p>
                    <p class="tracking-tight text-sm text-fb-gray flex items-center"><span class="mr-1">25 minutes ago</span> &middot;<i class="material-icons ml-1 text-sm text-fb-gray">public</i></p>
                </div>
            </div>
        </div>
        <div class="text-news-feed mb-4">
            <p class="mb-3">{caption}</p>
            <div class="image-card border">
                <a class="block" href="#">
                    <img class="w-full" {src} alt="">
                    <div class="p-3 pt-2">
                        <p class="font-semibold mb-1">{descTitle}</p>
                        <p class="text-sm mb-1 lg:hidden">{descShort}</p>
                        <p class="text-sm mb-1 hidden lg:inline">{descLong}</p>
                        <p class="text-xs text-fb-lightgray lg:uppercase">{descURL}</p>
                    </div>
                </a>
            </div>
        </div>
        <NewsFeedCTA />
    </section>
    {#if $$props.viewport = 'desktop' }
        <DesktopCommentArea userPhoto={$$props.userPhoto} userName={$$props.userName} />
    {/if}
{/each}